<ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li>
    <li><a href="@Url.Action("Upload","MedicalReports")"><i class="fa fa-upload"></i> Medical Analysis</a></li>
    <li><a href="@Url.Action("Index","BMI")"><i class="fa fa-upload"></i> BMI Calculator</a></li>
    <li><a href="@Url.Action("Index","HealthAssistant")"><i class="fa fa-comments"></i> Health Assistant</a></li>
    <li><a href="@Url.Action("Index","XrayTest")"><i class="fa fa-stethoscope"></i> Pneumonia Test</a></li>
</ul> 